extends layout

block content
  h1= title
  - var image_names = ["Death_By_Chocolate.jpg", "Red_Velvet.jpg", "butterscotch.jpg", "Vannila.jpg", "Strawberry.jpg"];
    - for(let i = 0; i < 3; i++) {
        - let ranValue = Math.floor(Math.random() * 5);
        img(src=`/images/${image_names[ranValue]}`, alt="Icecream Image", height = "300px", width = "300px")
    - }